---
layout: default
title: Cat
categories: /category
permalink: /category/
---

<div class="home">


<br>

    <h1 class="post-title"> Category Theory </h1><br>

    Categories are difficult for computers to instantly describe its structure composed of various dimensions of arrows. Indeed there are many examples with much eraborations, using tools such as tikz/Tex or etc. <br>
    I would like to choose the way with hand-writing categories.<br>
    So it sometimes does not seem formal, but I will do my best.<br>
    The more urgent thing is, currently I think as a carpenter/architect, to get familiar with categories, which will be achieved with pencil and papers or degital alternatives like apple pencils.<br>
    Category theory is, needless to say, always studied or learned through <a href='http://www.ncatlab.org'>nLab</a>.<br>
    Under Construction. <br><br>

    <h2>Recommendations</h2>
    <li>Higher Categories and Homotopical Algebra [Cisinski]</li>
    <li>Categories and Sheaves [Masaki Kashiwara / Pierre Schapira]</li>
    <li>Algebraic Geometry [Hartshorne]</li>
    <li>Algebra Of Programming [Richard Bird]</li>
    <li>Category Theory [Awodey]</li>
    <li>Elementary Topoi [Lawvere]</li>
    <li>Homotopy Type Theory </li>
    <br>

    <div class="grid post-list">
        <br>
        {% for post in site.category %}
        <div class="unit half">
            <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li></div>
        {% endfor %}
    </div>

<br><br><br><br><br><br><br><br>

    <div class="grid post-list"></div>

<br><br><br><br>

    <h1 class="post-title"> Mathematics </h1><br>

    <div class="grid post-list">
        <br>
        {% for post in site.math %}
        <div class="unit half">
            <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li></div>
        {% endfor %}
    </div>





</div>
