<header>
    <a class="site-title" href="/">GhaSShee</a>
    <nav class="site-nav">
        <div class="trigger">
            <a class="page-link" href="/about/">About</a>
            <a class="page-link" href="/build/">Build</a>
            <a class="page-link" href="/category/">Cat</a>
            <a class="page-link" href="/diary/">Diary</a>
            <a class="page-link" href="/ethereum/">Eth</a>
            <a class="page-link" href="/functional/">Fun</a>
            <a class="page-link" href="/ghasshee/">GhaSShee</a>
            <a class="page-link" href="/html/">Html</a>
        </div>
    </nav>
</header>
