<div class="grid post-list">

Unlike English, Japanese Language has less logic in using them.<br>
English People always think in 3D space,<br>
whereas Japanese people see a projected 2D window when they read sentences.<br><br>

e.g.<br>
<code>on</code>
<ul>
        <li>English : There is a fly <code>on</code> his face.<br>
            if Japanese want to send the same information, <br>
            they have to use the word 'surface' explicitly;</li>
        <li>Japanese : There is a fly at the surface of his face.<br>
            if we omit this word in Japanese, its semantics means just;</li>
        <li>Japanese : His face has a fly.<br>
            (Japanese has no information about how interact with it.)</li>
</ul>

Always Japanese did not add the information about 3D relationships when they speak.<br>
They did not use the region of the brain working to capture 3 dimensional relationship between objects,rather than remember the scene that describe the sentence.<br>
Thus, there are always ambiguities on information wtitten by Japanese Language, from person to person.<br><br>


英語は構文です。<br><br>

オックスフォード英英辞典は Linux 上でフリーソフト sdcv と共にデータが落ちています。<br>
Linux を使ったことがない方は Ubuntu と検索してください。<br><br>
<ul>
    <li>オックスフォード英英辞典を引く</li>
    <li>オンライン辞典は「英辞郎」を使う</li>
    <li>Linux を使う</li>
</ul>

を若いうちに実践してください。<br>
日本語や Windows ばかりを使うことに慣れてしまうと脳にとって致命的です。<br>

</div>
