@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic,greek,latin-ext');



@media screen and (min-width:0px){
    body#md {
        font-weight: 400;
        font-size: 12px;
        font-family: Helvetica, Arial;
        /*font-family: Arial, Helvetica, "sans serif";*/
        text-align: left;
        line-height: 200%;
        max-width: 700px;
    }
}
@media screen and (min-width:1000px){
    body#md {
        font-weight: 400;
        font-size: 15px;
        font-family:  Helvetica, Arial;
        /*font-family: Courier, "Helvetica Neue Light", Georgia, "Helvetica Neue",Arial, Helvetica, "sans serif";*/
        text-align: left;
        line-height: 175%;
        max-width: 700px;
    }
}
@media screen and (min-width:1500px){
    body#md {
        /*
        font-weight: 400;
        font-size: 17px;
        font-family:  "Roboto Slab", "Helvetica Neue", Helvetica, Arial;

        font-family: Courier, "Helvetica Neue Light", Georgia, "Helvetica Neue",Arial, Helvetica, "sans serif";
        text-align: left;
        line-height: 175%;
        max-width: 700px;
        */
        /*position: absolute;*/
        font-family: Helvetica, Arial, sans-serif;
        text-align: left;
        margin: 400px 400px;
        padding: 0;
        max-width: 800px;
        color: #333;
        font-size: 17px;
        font-weight: 200;
        line-height: 165%;
        padding-right: 20px;
        overflow-x: hidden;
        text-overflow: ellipses;


    }
}


/* reset heading/link fonts to that of body */
.md a,
.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
    font-family: inherit;
    overflow-x: hidden !important;
}

img.markdeep {
    max-width: 350px;
}

.md .tocHeader {
    border: none;
    margin-top: 25px;
    font-size: 100%;
    font-family: inherit;
    font-weight: 300;
}

.md .longTOC .level1 {
    font-weight: 300;
    margin-bottom: -30px;
}

.md div.title, .md div.subtitle, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    font-family: Helvetica, Arial;
    font-weight: 300;
}

.md div.title {
    font-size: 43px;
    text-align: left;
    margin-bottom: 0px;
}

.md div.subtitle {
    text-align: left;
    font-size: 110%;
}


.md div.afterTitles {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px;
    height: 0px;
    border-bottom: 1px solid #e6ede8;
}

.md div.afterTitles + p {
    margin-top: 1000px;
}

.md h1 {
    font-size: 180%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    padding-top:25px;
    border-bottom: none;
    border-top:4px solid #888;
}

.md h2 {
    font-size: 155%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: none;
}

.md h3 {
    font-size: 135%;
}

.md h4, .md h5, .md h6 {
    font-size: 120%;
}

.md pre.tilde {
    background: #f2efea;
    /*background: #ebf0e9;   /* gray-green */ */
    border-radius: 10px;
}

.md code {
    border-radius: 3px;
    font-size: 75%;
    color: #e24097;
    /* font-family: Monospace; */
    /* background: #ebf0e9; */
    background: #f2efea;
    padding-left: 3px;
    padding-right: 3px;
}

.md .longTOC {
    font-family: Helvetica, Arial;
    font-weight: 300;
}


.md pre.listing {
    font-size: 100%;
}

.md pre.listing code {
    font-weight: unset;
    color: unset;
}

/* no numbering of headings */
/*.md h1:before, .md h2:before,*/
.md h3:before, .md h4:before, .md h5:before, .md h6:before { content: none; }
.md .tocNumber { /*display: none;*/ }




@media screen and (min-width:0px){
    body {
        position: absolute;
        left: 0px;
        margin-right: 3%;
        margin-left: 3%;
        right: 0px;
        overflow: auto;
        max-width: 100%;
    }

    .md .longTOC {
        display: block;
        white-space: nowrap;
        width: 0px;
        border-right: 1px solid #ece0cd;
        background: #f2efea;
        overflow-y:scroll;
        font-size: 10px;
        font-family: inherit;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left: 0px;
    }

    .md .tocHeader {
        display: none;
    }

    .md .tocTop {
        display: block;
        display: inline;
    }
}

@media screen and (min-width:600px){
    body {
        position: absolute;
        left: 160px;
        margin-right: 3%;
        margin-left: 3%;
        right: 0px;
        overflow: auto;
        max-width: 100%;
    }

    .md .longTOC {
        display: block;
        white-space: nowrap;
        width: 160px;
        border-right: 1px solid #ece0cd;
        background: #f2efea;
        overflow-y:scroll;
        font-size: 10px;
        font-family: inherit;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
    }

    .md .tocHeader {
        display: none;
    }

    .md .tocTop {
        display: block;
        display: inline;
    }
}

@media screen and (min-width: 1000px){
    body {
        position: absolute;
        left: 300px;
        margin-right: 6%;
        margin-left:  6%;
        right: 0px;
        overflow: auto;
        max-width: 700px;
    }

    .md .longTOC {
        display: block;
        white-space: nowrap;
        width: 300px;
        border-right: 1px solid #ece0cd;
        background: #f2efea;
        overflow-y:scroll;
        font-size: 13px;
        font-family: inherit;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
    }

    .md .tocHeader {
        /*display: none; */
    }

    .md .tocTop {
        /*display: block; */
        display: inline;
    }
}

@media screen and (min-width: 1500px){
    body {
        position: absolute;
        left: 450px;
        margin-right: 200px;
        margin-left:  200px;
        right: 0px;
        overflow: auto;
        max-width: 650px;
    }

    .md .longTOC {
        display: block;
        white-space: nowrap;
        width: 450px;
        border-right: 1px solid #ece0cd;
        /*background: #f2efea; */
        background: #faf4db;
        color: #ffffff;
        overflow-y:scroll;
        font-size: 16px;
        font-family: inherit;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left: 100px;
    }

    .md .tocHeader {
        /*display: none; */
    }

    .md .tocTop {
        /*display: block; */
        display: inline;
    }
}
