<meta charset="utf-8">
<link rel="shortcut icon" href="/image/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/image/favicon.png">
<link rel="icon" type="image/png" sizes="144x144" href="/image/favicon.png">

{% include clock.html %}

{% include headep.html %}<br><br>
<center><font size="6">{{page.title}}</font></center><br><br>
{{ content }}<br><br>
{% include analytics.html %}
{% include comment.html %}
<!-- <script src="/dependencies/local_markdeep.js"></script>
-->

<script src="/dependencies/markdeep/latest/markdeep.min.js"></script>
