
<meta charset="utf-8">
<link rel="shortcut icon" href="/image/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/image/favicon.png">
<link rel="icon" type="image/png" sizes="144x144" href="/image/favicon.png">

{% include clock.html %}

{% include headep.html %}<br><br>
<center><font size="6">{{page.title}}</font></center><br><br>
{{ content }}<br><br>
{% include analytics.html %}
{% include comment.html %}




<link rel="stylesheet" href="/dependencies/markdeep/latest/slides.css?">
<script>markdeepOptions={tocStyle:'none'}</script>
<style class="fallback">body{visibility:hidden}</style>
<script src="/dependencies/markdeep/latest/markdeep.min.js" charset="urf-8"></script>
